* {
    padding: 0;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    text-decoration: none;
    list-style-type: none;
}


/* --------------------
    MOBILE FIRST
-------------------- */

/* FUENTES Y TAMAÑOS */
h1, h2, h3, a, label {
    font-family: 'Josefin Sans', sans-serif;
}
    
    p {
        font-weight: 500;
    }
    
    
    /* DEFINO GRID EN TODO EL BODY */
    body {
        display: grid;
        grid-row-gap: 40px;
        grid-template-areas:
            "header_"
            "main_"
            "footer_";           
    }
    
    /* LINKEO GRID A SUS RESPECTIVAS PARTES  */
    header {
        grid-area: "header_";
        background-color: #7B77F2;
    }
    
    main {
        grid-area: "main_";
    }
    
    footer{
        grid-area: "footer_";
        background-color: #7B77F2;
    }
    
    
    /* -------------------- 
        HEADER Y FOOTER
    -------------------- */
    .logo {
        width: 30vw;
        padding-left: 0.5vw;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    footer, .lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    #derechos {
        font-size: 4vw;
        padding-left: 2vw;
    }
    
    .lista li {
        font-size: 5vw;
        padding: 2vw 0vw;
    }
    
    .lista li a {
        padding: 2vw 3vw;
    }
    
    .lista li a:active {
        background-color: #6bccf1;
        color: white;
    }
    
    
    /* -------------------- 
            BODY 
    -------------------- */
    main {
        margin: 0vw 4vw;
    }
    
    .fondoColorV {
        margin-top: -6vw;
        background-color: #AC99F2;
    }
    
    .seccionCeleste {
        height: 15vw;
        background-color: #6bccf1;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .boton, .celeste {
        height: 4vw;
        font-size: 5vw;
        padding: 2vw 10vw 2vw 10vw;
        border: 2px solid #7B77F2;
        background-color: #79DCF2;
    }
    
    .boton {
        margin-top: 2.5vw;
    }
    
    .boton:hover {
        background-color: #7B77F2;
        color: black;
    }
    
    .boton:active {
        box-shadow: inset 5px 5px 40px 10px;
    }

    .iconos {
        color: #551A8B;
    }
    
    /* -------------------- 
            INDEX 
    -------------------- */
    #mainIndex {
        display: flex;
        flex-direction: column;
    }
    
    .titulosIndex {
        text-align: center;
        font-size: 2.1vw;
        padding: 5vw 0vw;
        margin: 3vw;
        background-color: #79DCF2;
    }
    
    .titulosIndex h1 {
        margin-bottom: 5vw;
    }
    
    .titulosIndex h2 {
        font-weight: 500;
        font-size: 4.5vw;
        padding: 0vw 2vw;
    }
    
    .info {
        display: flex;
        flex-direction: column;
    }
    
    .info p {
        font-size: 4.5vw;
        text-align: justify;
        margin: 4vw 8vw 0vw 8vw;
    }
        
    .video video {
        width: 91vw;
    }
    
    
    /* -------------------- 
            NOSOTROS 
    -------------------- */
    #mainNosotros{
        display: flex;
        flex-direction: column;
        margin-top: -6vw;
    }
    
    #mainNosotros img {
        width: 92vw;
    }
    
    .nosotros {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .nosotros div h1, .nosotros div h2 {
        font-size: 4vw;
        padding: 3vw 0 0 0;
    }

    .nosotros p, .nuestroTrabajo {
        padding: 2vw;
        margin-bottom: 6vw;
        font-size: 4vw;
        text-align: justify;

    }
    
    .nuestroTrabajo {

        text-align: start;
        line-height: 8vw;
    }
    
    .celeste {
        width: 92vw;
        height: 7vw;
        text-align: center;
        border: 0px;
    }

    .imgPreguntas {
        display: none;
    }
     
    .preguntasFrecuentes{
        display: flex;
        flex-direction: column;
        grid-row-gap: 1vw;
    }
    
    .preguntasFrecuentes h2 {
        padding: 4vw 10vw 3vw 10vw;
        background-color: #79DCF2;
    }
    
    .preguntasFrecuentes div .iconos {
        font-size: 7vw;
    }
    
    .seccionPreguntas {
        padding: 0vw 4.5vw 3vw 4.5vw;
    }
   
    .p0 {
        width: 70vw;
        font-size: 5vw;
        text-align: center;
        color: #551A8B;
        justify-self: center;
        padding: 2vw 10.7vw 0vw 10vw;
    }
    
    .p2 {
        padding-bottom: 1vw;
    }
    
    .preguntas {
        display: flex;
        padding-top: 5vw;
    }
    
    .preguntas h3 {
        align-self: center;
        padding: 0.3vw 0vw 0vw 3vw;
        font-size: 4vw;
    }

    .botonNosotros {
        margin-top: 3vw;
        padding: 2vw;
        font-size: 5vw;
    }
    
    
    /* -------------------- 
        CONTACTANOS
    -------------------- */
    
    #mainContactanos {
        display: flex;
        flex-direction: column;
        column-gap: 3vw;
        justify-content: center;
    }
    
    .mensajeContacto {
        font-size: 4vw;
        text-align: center;
        line-height: 15vw;
        margin-top: -5vw;
    }
    
    .infoContactanos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 2.5vw;
        margin-bottom: 6vw;
        text-align: center;
    }
    
    .infoContactanos div {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 40vw;
        padding: 2vw;
        border: 1px solid #551A8B;
        background-color: #79DCF2;
    }
    
    .infoContactanos div .iconos {
        font-size: 6vw;
        margin-bottom: 3vw;
    }
    
    .infoContactanos div p {
        font-size: 4vw;
    }
    
    .mapa {
        width: 92vw;
        height: 30vw;
    }
    
    .formulario {
        background-color: #AC99F2;
        padding: 5vw;
    }
    
    .formulario div {
        text-align: center;
        padding: 1vw 0vw;
    }
    
    .formulario div label {
        font-size: 3vw;
    }
    
    .formulario div .ingreso {
        display: block;
        width: 81vw;
        font-size: 3vw;
        margin-bottom: 1.5vw;
        border: 1px solid #551A8B;
    }

    .formulario div input {
        height: 4vw;
    }

    .formulario div textarea {
        height: 30vw;
    }
   
    input, textarea {
        background-color: white;
    }

    .posiblesMotivos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: -0.5vw;
    }

    .motivo div label {
        font-size: 3vw;
    }

    .radio {
        margin-left: 9vw;
    }

    .motivo div input {
        width: 3.5vw;
    }

    .botones input {
        width: 30vw;
        margin: 2vw 0 0 3vw;
        font-size: 3.5vw;
        font-weight: 600;
        padding-bottom: 4.5vw;
        border: 1px solid black;
    }

    .botones input:active {
        box-shadow: inset 2px 2px 20px 5px;
    }


/* -------------------- 
    APTO TABLETS 
-------------------- */
@media screen and (min-width: 768px) {
    
    header {
        margin-bottom: 5vw;
    }

    .lista li {
        font-size: 4.5vw;
    }

    .boton, .celeste {
        font-size: 4vw;
        padding-top: 2.5vw;
    }
    
        

    /* -------------------- 
            NOSOTROS 
    -------------------- */
    .preguntasFrecuentes h2 {
        height: 5vw;
        width: 72vw;

    }

}


/* -------------------- 
    APTO ORDENADORES 
-------------------- */ 
@media screen and (min-width:1024px){
  
    p {
        font-size: 250%;
        font-weight: 500;
    }
     
    
    /* -------------------- 
        HEADER Y FOOTER
    -------------------- */
    .logo {
        width: 8vw;
    }
       
    #derechos {
        font-size: 1.5vw;
        padding-left: 1vw;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .lista li {
        font-size: 1.8vw;
        padding: 1.5vw 0vw;
    }
    
    .lista li a {
        padding: 1.5vw 3vw;
    }
    
    .lista li:hover {
        background-color: #6bccf1;
    }
    
    .lista li a:active {
        color: white;
    }
    
    
    /* -------------------- 
            BODY 
    -------------------- */
    main {
        margin: 0vw 2vw;
    }
       
    .fondoColorV {
        flex-direction: row;
    }
    
    .seccionCeleste {
        height: 8vw;
    }
    
    .boton, .celeste {
        height: 2vw;
        font-size: 200%;
        padding: 1.5vw 5vw 1vw 5vw;
        border: 3px solid #7B77F2;
    }
    
    .boton {
        font-size: 2vw;
        margin-top: 1.5vw;
    }

    
    /* -------------------- 
            INDEX 
    -------------------- */
    #mainIndex {
        flex-direction: row;
        font-size: 1vw;
        margin: 0vw 3vw;
    }
    
    .titulosIndex {
        padding: 3vw 2vw;
        margin: 4vw 0.1vw 2.7vw 3vw ;
    }
    
    .titulosIndex h1 {
        font-size: 2.2vw;
        margin-bottom: 1vw;
    }
    
    .titulosIndex h2 {
        font-size: 2vw;
        font-weight: 500;
    }
       
    .info p {
        font-size: 1.7vw;
        margin: 0vw 3vw 3vw 5vw ;
    }
        
    .video video {
        width: 43vw;
    }
    
    
    /* -------------------- 
            NOSOTROS 
    -------------------- */
    #mainNosotros{
        margin: 3vw;
        flex-direction: column;
    }
    
    #mainNosotros img {
        width: 35vw;
    }

    #mainNosotros .seccionCeleste {
        width: 92.5vw;
    }

    .descripcionNosotros {
        margin-bottom: 6vw;
    }
    
    .nosotros {
        flex-direction: row;
        justify-content: center;
    }

    .nosotros div {
        width: 55vw;
        height: 22vw;
    }

    .nosotros div h1, .nosotros div h2 {
        font-size: 2.5vw;
        padding: 1.5vw 2.7vw;
    }

    .nosotros p, .nuestroTrabajo {
        padding: 2vw;
        font-size: 2vw;
    }
    
    .nuestroTrabajo {
        line-height: 3.5vw;
    }
    
    .celeste {
        width: 49.6vw;
        font-size: 2.5vw;
        text-align: center;
        border: 0px;
    }
    
    .fondoPreguntas {
        width: 92.5vw;
        display: flex;
        flex-direction: row;
    }

    .imgPreguntas {
        display: inline;
    }
   
    .preguntasFrecuentes {
        font-size: 0.7vw;
        display: grid;
        grid-column-gap: 3vw;
        grid-template-areas:
            "p0_ p0_"
            "p1_ p4_"
            "p3_ p5_"
            "p2_ p5_";
        padding: 0 2vw 0vw 2vw;
    }
    
    .preguntasFrecuentes h2 {
        height: 5vw;
        width: 50vw;
        padding: 0;
        line-height: 6vw;
        text-align: center;
    }
    
    .preguntasFrecuentes div .iconos {
        font-size: 3vw;
    }
    
    .seccionPreguntas {
        width: 25vw;
        padding: 0vw;
    }
    
    .p0 {
        grid-area: p0_;
        font-size: 3vw;
        padding: 0vw;
    }
    
    .p1 {
        grid-area: p1_;
    }
    
    .p2 {
        grid-area: p2_;
        padding-bottom: 2vw;
    }

    .p3 {
        grid-area: p3_;
    }
    
    .p4 {
        grid-area: p4_;
    }
    
    .p5 {
        grid-area: p5_;
    }
    
    .preguntas {
        padding-top: 2vw;
    }
    
    .preguntas h3 {
        align-self: center;
        padding: 0.3vw 0vw 0vw 1vw;
        font-size: 1.5vw;
    }
    
    
    /* -------------------- 
        CONTACTANOS
    -------------------- */
    
    #mainContactanos {
        flex-direction: row;
    }
    
    .mensajeContacto {
        font-size: 3vw;
        line-height: 7vw;
        margin-top: 0vw;
    }
    
    .infoContactanos {
        flex-direction: row;
        column-gap: 5vw;
        margin-bottom: 2vw;
    }
    
    .infoContactanos div {
        width: 20vw;
        padding: 1vw;
        border: 2px solid #551A8B;
    }
    
    .infoContactanos div .iconos {
        font-size: 3vw;
        margin-bottom: 1vw;
    }
    
    .infoContactanos div p {
        font-size: 2vw;
    }
    
    .mapa {
        width: 50vw;
        height: 26.7vw;
    }
    
    .formulario {
        padding: 3vw;
    }
    
    .formulario div {
        padding: 0.5vw 0vw;
    }
    
    .formulario div label {
        font-size: 1.6vw;
    }
    
    .formulario div .ingreso {
        width: 35vw;
        font-size: 1.5vw;
    }

    .formulario div input {
        height: 2vw;

    }

    .formulario div textarea {
        height: 10vw;
    }
   
    input, textarea {
        background-color: white;
    }
 
    .motivo div label {
        font-size: 1.4vw;
        margin-bottom: 1vw;
    }
    
    .motivo div input {
        margin-left: 0.5vw;
        width: 1vw;
    }
   
    .botones input {
        width: 13vw;
        font-size: 1.5vw;
        padding-bottom: 2vw;
        margin-top: 0.5vw;
    }
 
    .botones input:hover {
        background-color: #79DCF2;
    }

}